#About{
    display: flex;
    background-color: white;
    width: 100vw;
    height: 800px;
}

#About>section:first-child>h1{
    position:absolute;
    font-size:70px;
    margin-top:20px;
    color:  #59A6EE;

}

#About>section:first-child>h3{
    position:absolute;
    font-size:21px;
    margin-top:00px;
    color:  black;
    margin-left:-65px;

}


#About>section:nth-child(2)>div:first-child{
    position: absolute;
    width: 650px;
    height: 590px;
    background: #59A6EE;
    margin-top:170px;
    margin-left:750px;

}

#About>section:nth-child(3)>img{
     position:absolute;
     width: 650px;
     height: 650px;
     margin-top:140px;
     margin-left:80px;

}

#About>section:nth-child(2)>div:first-child>h4{

     font-size:20px;
     color: white;
     margin-left:70px;
     margin-top:40px

}



#About>section:nth-child(4)>div:first-child{

     width:350px;
     height350px;
     position:absolute;
     margin-top:169px;
     z-index:9999;
     margin-left:1040px;

}

#About>section:nth-child(4)>div:first-child>h4{
     font-size:20px;
     color:white;
     margin-top:40px;

}

#About>section:nth-child(4)>section>button{
     position:absolute;
     color:white;
     border-radius:20px;
     background:black;
     width:340px;
     height:50px;
     margin-left:910px;
     margin-top:670px;
}
/*media query for large laptop(1440px)*/
@media all and (max-width: 1440px) {
#About{
    display: flex;
    background-color: white;
    width: 1440px;
    height: 910px;
}

#About>section:first-child>h1{
    position:absolute;
    font-size:70px;
    margin-top:-10px;
    color:  #59A6EE;

}

#About>section:first-child>h3{
    position:absolute;
    font-size:21px;
    margin-top:-30px;
    color:  black;
    margin-left:-59px;

}

#About>section:nth-child(3)>img{
     position:absolute;
     width: 600px;
     height: 650px;
     margin-top:120px;
     margin-left:80px;

}

#About>section:nth-child(2)>div:first-child{
    position: absolute;
    width: 600px;
    height: 590px;
    background: #59A6EE;
    margin-top:150px;
    margin-left:740px;

}

#About>section:nth-child(4)>div:first-child{

     width:350px;
     height350px;
     position:absolute;
     margin-top:150px;
     z-index:9999;
     margin-left:1010px;

}

#About>section:nth-child(4)>section>button{
     position:absolute;
     color:white;
     border-radius:20px;
     background:black;
     width:340px;
     height:50px;
     margin-left:875px;
     margin-top:645px;
}

}

/*media query for Small laptop(1024px)*/
@media all and (max-width: 1024px) {
    #About{
        display: flex;
        background-color: white;
        width: 1024px;
        height: 750px;
    }

    #About>section:nth-child(2)>div:first-child{
        position: absolute;
        width: 450px;
        height: 520px;
        background: #59A6EE;
        margin-top:170px;
        margin-left:520px;

    }

    #About>section:nth-child(3)>img{
         position:absolute;
         width: 490px;
         height: 580px;
         margin-top:140px;
         margin-left:30px;

    }

    #About>section:nth-child(4)>section>button{
         position:absolute;
         color:white;
         border-radius:20px;
         background:black;
         width:240px;
         height:40px;
         margin-left:630px;
         margin-top:620px;
    }

    #About>section:nth-child(4)>div:first-child{

         width:350px;
         height:350px;
         position:absolute;
         margin-top:170px;
         z-index:9999;
         margin-left:610px;

    }

    #About>section:first-child>h1{
        position:absolute;
        font-size:70px;
        margin-top:60px;
        color:  #59A6EE;

    }

    #About>section:first-child>h3{
        position:absolute;
        font-size:21px;
        margin-top:50px;
        color:  black;
        margin-left:-50px;

    }

    #About>section:nth-child(2)>div:first-child>h4{

         font-size:15px;
         color: white;
         margin-left:43px;
         margin-top:40px

    }

    #About>section:nth-child(4)>div:first-child>h4{
         font-size:15px;
         color:white;
         margin-top:40px;
         margin-left:112px;

    }


}

/*media query for Tablet size(768px)*/
@media all and (max-width: 768px) {

    #About{
        display: flex;
        background-color: white;
        width: 768px;
        height: 642px;
    }

    #About>section:nth-child(2)>div:first-child{
        position: absolute;
        width: 340px;
        height: 410px;
        background: #59A6EE;
        margin-top:170px;
        margin-left:395px;

    }

    #About>section:nth-child(3)>img{
         position:absolute;
         width: 380px;
         height: 470px;
         margin-top:140px;
         margin-left:20px;

    }

    #About>section:nth-child(2)>div:first-child>h4{

         font-size:10px;
         color: white;
         margin-left:43px;
         margin-top:35px

    }

    #About>section:nth-child(4)>div:first-child>h4{
         font-size:11px;
         color:white;
         margin-top:34px;
         margin-left:-50px;

    }

    #About>section:nth-child(4)>section>button{
         position:absolute;
         color:white;
         border-radius:20px;
         background:black;
         width:170px;
         height:35px;
         margin-left:486px;
         margin-top:527px;
    }


    #About>section:first-child>h1{
        position:absolute;
        font-size:50px;
        margin-top:70px;
        margin-left:20px;
        color:  #59A6EE;

    }

    #About>section:first-child>h3{
        position:absolute;
        font-size:15px;
        margin-top:60px;
        color:  black;
        margin-left:-35px;

    }



}

/*media query for Mobile size(425px)*/
@media all and (max-width: 425px) {

        #About{
            display: flex;
            background-color: white;
            width: 425px;
            height: 800px;
        }

        #About>section:nth-child(2)>div:first-child{
            position: absolute;
            width: 310px;
            height: 330px;
            background: #59A6EE;
            margin-top:430px;
            margin-left:60px;

        }

        #About>section:nth-child(3)>img{
             position:absolute;
             width: 350px;
             height: 370px;
             margin-top:60px;
             margin-left:45px;

        }

        #About>section:nth-child(2)>div:first-child>h4{

             font-size:9px;
             color: white;
             margin-left:43px;
             margin-top:25px

        }

        #About>section:nth-child(4)>div:first-child>h4{
             font-size:9px;
             color:white;
             margin-top:25px;
             margin-left:-400px;

        }

        #About>section:nth-child(4)>section>button{
             position:absolute;
             color:white;
             border-radius:20px;
             background:black;
             width:140px;
             height:32px;
             margin-left:146px;
             margin-top:707px;
        }


        #About>section:first-child>h1{
            position:absolute;
            font-size:40px;
            margin-top:10px;
            margin-left:5px;
            color:  #59A6EE;

        }

        #About>section:first-child>h3{
            position:absolute;
            font-size:15px;
            margin-top:0px;
            color:  black;
            margin-left:-58px;

        }

        #About>section:nth-child(4)>div:first-child{
            margin-top:429px;

        }


}

/*media query for Mobile size(376px)*/
@media all and (max-width: 376px) {

        #About{
            display: flex;
            background-color: white;
            width: 376px;
            height: 800px;
        }

        #About>section:nth-child(2)>div:first-child{
            position: absolute;
            width: 310px;
            height: 330px;
            background: #59A6EE;
            margin-top:430px;
            margin-left:35px;

        }

        #About>section:nth-child(3)>img{
             position:absolute;
             width: 350px;
             height: 370px;
             margin-top:60px;
             margin-left:15px;

        }

        #About>section:nth-child(2)>div:first-child>h4{

             font-size:9px;
             color: white;
             margin-left:43px;
             margin-top:25px

        }

        #About>section:nth-child(4)>div:first-child>h4{
             font-size:9px;
             color:white;
             margin-top:25px;
             margin-left:-420px;

        }

        #About>section:nth-child(4)>section>button{
             position:absolute;
             color:white;
             border-radius:20px;
             background:black;
             width:140px;
             height:32px;
             margin-left:126px;
             margin-top:707px;
        }


        #About>section:first-child>h1{
            position:absolute;
            font-size:40px;
            margin-top:10px;
            margin-left:12px;
            color:  #59A6EE;

        }

        #About>section:first-child>h3{
            position:absolute;
            font-size:15px;
            margin-top:0px;
            color:  black;
            margin-left:-54px;

        }

        #About>section:nth-child(4)>div:first-child{
            margin-top:429px;

        }



}

/*media query for Mobile Small size(320px)*/
@media all and (max-width: 320px) {

        #About{
            display: flex;
            background-color: white;
            width: 320px;
            height: 800px;
        }

        #About>section:nth-child(2)>div:first-child{
            position: absolute;
            width: 280px;
            height: 330px;
            background: #59A6EE;
            margin-top:430px;
            margin-left:20px;

        }

        #About>section:nth-child(3)>img{
             position:absolute;
             width: 320px;
             height: 370px;
             margin-top:60px;
             margin-left:1px;

        }

        #About>section:nth-child(2)>div:first-child>h4{

             font-size:9px;
             color: white;
             margin-left:30px;
             margin-top:25px

        }

        #About>section:nth-child(4)>div:first-child>h4{
             font-size:9px;
             color:white;
             margin-top:25px;
             margin-left:-455px;

        }

        #About>section:nth-child(4)>section>button{
             position:absolute;
             color:white;
             border-radius:20px;
             background:black;
             width:140px;
             height:32px;
             margin-left:95px;
             margin-top:707px;
        }


        #About>section:first-child>h1{
            position:absolute;
            font-size:40px;
            margin-top:10px;
            margin-left:-7px;
            color:  #59A6EE;

        }

        #About>section:first-child>h3{
            position:absolute;
            font-size:15px;
            margin-top:0px;
            color:  black;
            margin-left:-60px;

        }

        #About>section:nth-child(4)>div:first-child{
            margin-top:429px;

        }


}

