header{
    position: fixed;
    display: inline-block;
    width: 100vw;
    background-color: lightblue;
    height: 80px;
    top: 0;
    z-index: 9999;
}
header>section>h1{
    font-size:40px;
    color: white;
    margin-left: -480px;
    margin-top:13px;
    font-family: "Tektur", serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      font-variation-settings:
        "wdth" 100;



}

header>section{
    display: flex;
}

header>nav{
    position: absolute;
    height: fit-content;
    right: 150px;
    top: 0;
    bottom: 0;
    margin: auto;
}
header>nav>ul>li{
    display: inline-block;
    right: 0;
    padding-left: 10px;
    margin: 0px 20px;

}
header>nav>ul>li>a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: "Oswald", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }


    }
header>nav>ul>li>a:hover{
    color: #59A6EE;
}
header>section>h1:hover{
    color: blue;

}





/*media query for large laptop(1440px)*/
@media all and (max-width: 1440px) {
    header{
        position: fixed;
        display: inline-block;
        width: 1440px;
        background-color: lightblue;
        height: 80px;
        top: 0;
        z-index: 9999;
    }
    header>nav{
        position: absolute;
        height: fit-content;
        right: 100px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    header>section>h1{
        font-size:30px;
        color: white;
        margin-left: -480px;
        margin-top:20px;
    }

}

/*media query for Small laptop(1024px)*/
@media all and (max-width: 1024px) {
        header{
            position: fixed;
            display: inline-block;
            width: 1024px;
            background-color: lightblue;
            height: 80px;
            top: 0;
            z-index: 9999;
        }

        header>section>h1{
                position:absolute;
                font-size:25px;
                color: white;
                margin-left: -285px;
                margin-top:24px;
            }

        header>nav{
                position: absolute;
                height: fit-content;
                right: 70px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        header>nav>ul>li{
            display: inline-block;
            right: 0;
            padding-left: 5px;
            margin: 0px 9px;

        }
        header>nav>ul>li>a{
            text-decoration: none;
            font-size: 15px;
            color: white;
            font-family: "Hubballi", sans-serif;
            font-weight: 400;
            font-style: normal;


            }


}

/*media query for Tablet size(768px)*/
@media all and (max-width: 768px) {

        header{
                    position: fixed;
                    display: inline-block;
                    width: 768px;
                    background-color: lightblue;
                    height: 60px;
                    top: 0;
                    z-index: 9999;
                }

        header>section>h1{
                        position:absolute;
                        font-size:20px;
                        color: white;
                        margin-left: -245px;
                        margin-top:18px;
                    }

        header>nav{
                        position: absolute;
                        height: fit-content;
                        right: 40px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }

           header>nav>ul>li{
                    display: inline-block;
                    right: 0;
                    padding-left: 5px;
                    margin: 0px 9px;

                }
                header>nav>ul>li>a{
                    text-decoration: none;
                    font-size: 10px;
                    color: white;
                    font-family: "Hubballi", sans-serif;
                    font-weight: 400;
                    font-style: normal;


                    }


}

/*media query for Mobile size(425px)*/
@media all and (max-width: 425px) {

        header{
                    position: fixed;
                    display: inline-block;
                    width: 425px;
                    background-color: lightblue;
                    height: 50px;
                    top: 0;
                    z-index: 9999;
                }

        header>nav{
                        position: absolute;
                        height: fit-content;
                        right: 10px;
                        top: -5px;
                        bottom: 0;
                        margin: auto;
                    }

        header>nav>ul>li{
                    display: inline-block;
                    right: 0;
                    padding-left: 1px;
                    margin: 0px 2px;

                }
        header>nav>ul>li>a{
                    text-decoration: none;
                    font-size: 8px;
                    color: white;
                    font-family: "Hubballi", sans-serif;
                    font-weight: 500;
                    font-style: normal;


                    }

        header>section>h1{
                        position:absolute;
                        font-size:14px;
                        color: white;
                        margin-left: -122px;
                        margin-top:15px;
                    }

}


/*media query for Mobile size(376px)*/
@media all and (max-width: 376px) {

        header{
                    position: fixed;
                    display: inline-block;
                    width: 376px;
                    background-color: lightblue;
                    height: 45px;
                    top: 0;
                    z-index: 9999;
                }

        header>nav{
                        position: absolute;
                        height: fit-content;
                        right: 7px;
                        top: -5px;
                        bottom: 0;
                        margin: auto;
                    }

        header>nav>ul>li{
                    display: inline-block;
                    right: 0;
                    padding-left: 2px;
                    margin: 0px 3px;

                }
        header>nav>ul>li>a{
                    text-decoration: none;
                    font-size: 6px;
                    color: white;
                    font-family: "Hubballi", sans-serif;
                    font-weight: 500;
                    font-style: normal;


                    }

        header>section>h1{
                        position:absolute;
                        font-size:13px;
                        color: white;
                        margin-left: -97px;
                        margin-top:13px;
                    }

}


/*media query for Mobile Small size(320px)*/
@media all and (max-width: 320px) {

        header{
                    position: fixed;
                    display: inline-block;
                    width: 320px;
                    background-color: lightblue;
                    height: 40px;
                    top: 0;
                    z-index: 9999;
                }

        header>nav{
                        position: absolute;
                        height: fit-content;
                        right: 6px;
                        top: -5px;
                        bottom: 0;
                        margin: auto;
                    }

        header>nav>ul>li{
                    display: inline-block;
                    right: 0;
                    padding-left: 1px;
                    margin: 0px 0px;

                }
        header>nav>ul>li>a{
                    text-decoration: none;
                    font-size: 6px;
                    color: white;
                    font-family: "Hubballi", sans-serif;
                    font-weight: 500;
                    font-style: normal;


                    }

        header>section>h1{
                        position:absolute;
                        font-size:13px;
                        color: white;
                        margin-left: -84px;
                        margin-top:12px;
                    }



}













