header{
    position: fixed;
    display: inline-block;
    width: 100vw;
    background-color: lightblue;
    height: 80px;
    top: 0;
    z-index: 9999;
}
header>section>h1{
    font-size:30px;
    color: white;
    margin-left: -390px;
    margin-top:20px;
}

header>section{
    display: flex;
}

header>nav{
    position: absolute;
    height: fit-content;
    right: 150px;
    top: 0;
    bottom: 0;
    margin: auto;
}
header>nav>ul>li{
    display: inline-block;
    right: 0;
    padding-left: 10px;
    margin: 0px 20px;

}
header>nav>ul>li>a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: "Hubballi", sans-serif;
    font-weight: 400;
    font-style: normal;


    }
header>nav>ul>li>a:hover{
    color: #59A6EE;
}
header>section>h1:hover{
    color: blue;

}

/*media query for large laptop(1440px)*/
@media all and (max-width: 1440px) {
    header{
        position: fixed;
        display: inline-block;
        width: 1440px;
        background-color: lightblue;
        height: 80px;
        top: 0;
        z-index: 9999;
    }
    header>nav{
        position: absolute;
        height: fit-content;
        right: 80px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    header>section>h1{
        font-size:30px;
        color: white;
        margin-left: -450px;
        margin-top:20px;
    }

}

/*media query for Small laptop(1024px)*/
@media all and (max-width: 1024px) {
        header{
            position: fixed;
            display: inline-block;
            width: 1024px;
            background-color: lightblue;
            height: 80px;
            top: 0;
            z-index: 9999;
        }

        header>section>h1{
                position:absolute;
                font-size:25px;
                color: white;
                margin-left: -235px;
                margin-top:24px;
            }

        header>nav{
                position: absolute;
                height: fit-content;
                right: 55px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        header>nav>ul>li{
            display: inline-block;
            right: 0;
            padding-left: 5px;
            margin: 0px 9px;

        }
        header>nav>ul>li>a{
            text-decoration: none;
            font-size: 15px;
            color: white;
            font-family: "Hubballi", sans-serif;
            font-weight: 400;
            font-style: normal;


            }

}