#Home{
    display: flex;
    background-color: white;
    width: 100vw;
    height: 800px;
}

#Home>section:first-child>div:first-child>h1{
    position:absolute;
    color:black;
    font-size:70px;
    margin-left:-450px;
    margin-top:80px;
}

#Home>section:first-child>div:first-child>h2{
    position:absolute;
    color:#59A6EE;
    font-size:80px;
    margin-left:390px;
    margin-top:75px;
}

#Home>section:first-child>div:first-child>h3{
    position:absolute;
    color:#59A6EE;
    font-size:80px;
    margin-top:160px;
    margin-left:-515px;

}

#Home>section:first-child>div:first-child>h4{
    position:absolute;
    color:black;
    font-size:25px;
    margin-left:120px;
    margin-top:300px;
    margin-right:840px;

}

#Home>section:first-child>div:first-child>h5{
    position:absolute;
    color:black;
    font-size:25px;
    margin-left:120px;
    margin-top:550px;
}

#Home>section:nth-child(2)>img{
     position:absolute;
     width: 400px;
     height: 400px;
     transform:rotate(10deg);
     margin-top:110px;
     margin-left:970px;
}

#Home>section:nth-child(3)>div:first-child{
     position: absolute;
     width: 60px;
     height: 60px;
     background: black;
     margin-top:600px;
     right:1330px;
}
#Home>section:nth-child(3)>div:first-child>img{
    margin-left:5px;
    margin-top:5px;
    height: 50px;

}

#Home>section:nth-child(3)>div:nth-child(2){
     position: absolute;
     width: 60px;
     height: 60px;
     background: black;
     margin-top:600px;
     right:1230px;
}

#Home>section:nth-child(3)>div:nth-child(2)>img{
    margin-left:5px;
    margin-top:5px;
    height: 50px;

}

#Home>section:nth-child(3)>div:nth-child(3){
     position: absolute;
     width: 60px;
     height: 60px;
     background: black;
     margin-top:600px;
     right:1130px;
}

#Home>section:nth-child(3)>div:nth-child(3)>img{
    margin-left:6px;
    margin-top:5px;
    height: 50px;

}