#Home{
    display: flex;
    background-color: white;
    width: 100vw;
    height: 800px;
}

#Home>section:first-child>div:first-child>h1{
    position:absolute;
    color:black;
    font-size:70px;
    margin-left:-455px;
    margin-top:80px;
}

#Home>section:first-child>div:first-child>h2{
    position:absolute;
    color:#59A6EE;
    font-size:80px;
    margin-left:380px;
    margin-top:75px;
}

#Home>section:first-child>div:first-child>h3{
    position:absolute;
    color:#59A6EE;
    font-size:80px;
    margin-top:160px;
    margin-left:-530px;
}

#Home>section:first-child>div:first-child>h4{
    position:absolute;
    color:black;
    font-size:25px;
    margin-left:120px;
    margin-top:300px;
    margin-right:840px;

}

#Home>section:first-child>div:first-child>h5{
    position:absolute;
    color:black;
    font-size:25px;
    margin-left:120px;
    margin-top:550px;
}

#Home>section:nth-child(2)>img{
     position:absolute;
     width: 400px;
     height: 400px;
     transform:rotate(10deg);
     margin-top:70px;
     margin-left:980px;
}

#Home>section:nth-child(3)>div:first-child{
     position: absolute;
     width: 60px;
     height: 60px;
     background: black;
     margin-top:600px;
     right:1355px;
}
#Home>section:nth-child(3)>div:first-child>img{
    margin-left:5px;
    margin-top:5px;
    height: 50px;

}

#Home>section:nth-child(3)>div:nth-child(2){
     position: absolute;
     width: 60px;
     height: 60px;
     background: black;
     margin-top:600px;
     right:1255px;
}

#Home>section:nth-child(3)>div:nth-child(2)>img{
    margin-left:5px;
    margin-top:5px;
    height: 50px;

}

#Home>section:nth-child(3)>div:nth-child(3){
     position: absolute;
     width: 60px;
     height: 60px;
     background: black;
     margin-top:600px;
     right:1155px;
}

#Home>section:nth-child(3)>div:nth-child(3)>img{
    margin-left:6px;
    margin-top:5px;
    height: 50px;

}

/*media query for large laptop(1440px)*/
@media all and (max-width: 1440px) {
#Home{
    display: flex;
    background-color: white;
    width: 1440px;
    height: 910px;
}

#Home>section:first-child>div:first-child>h1{
    position:absolute;
    color:black;
    font-size:70px;
    margin-left:-450px;
    margin-top:80px;
}

#Home>section:first-child>div:first-child>h3{
    position:absolute;
    color:#59A6EE;
    font-size:80px;
    margin-top:160px;
    margin-left:-520px;
}

#Home>section:nth-child(3)>div:nth-child(3){
     position: absolute;
     width: 60px;
     height: 60px;
     background: black;
     margin-top:630px;
     right:1060px;
}

#Home>section:nth-child(3)>div:nth-child(2){
     position: absolute;
     width: 60px;
     height: 60px;
     background: black;
     margin-top:630px;
     right:1160px;
}
#Home>section:nth-child(3)>div:first-child{
     position: absolute;
     width: 60px;
     height: 60px;
     background: black;
     margin-top:630px;
     margin-right:-80px;
}

#Home>section:first-child>div:first-child>h5{
    position:absolute;
    color:black;
    font-size:25px;
    margin-left:120px;
    margin-top:570px;
}

#Home>section:nth-child(2)>img{
     position:absolute;
     width: 400px;
     height: 400px;
     transform:rotate(10deg);
     margin-top:80px;
     margin-left:940px;
}
}

/*media query for Small laptop(1024px)*/
@media all and (max-width: 1024px) {
    #Home{
        display: flex;
        background-color: white;
        width: 1024px;
        height: 750px;
    }

    #Home>section:nth-child(2)>img{
         position:absolute;
         width: 300px;
         height: 300px;
         transform:rotate(10deg);
         margin-top:110px;
         margin-left:670px;
    }

    #Home>section:first-child>div:first-child>h1{
        width: 200px;
        height: 50px;
        position:absolute;
        color:black;
        font-size:60px;
        margin-left:-260px;
        margin-top:100px;
    }

    #Home>section:first-child>div:first-child>h2{
        position:absolute;
        width: 200px;
        height: 50px;
        color:#59A6EE;
        font-size:70px;
        margin-left:300px;
        margin-top:92px;
    }

    #Home>section:first-child>div:first-child>h3{
        position:absolute;
        width: 200px;
        height: 50px;
        color:#59A6EE;
        font-size:70px;
        margin-top:170px;
        margin-left:-325px;
    }

    #Home>section:first-child>div:first-child>h4{
        position:absolute;
        color:black;
        font-size:22px;
        margin-left:73px;
        margin-top:280px;
        margin-right:500px;

    }

    #Home>section:first-child>div:first-child>h5{
        position:absolute;
        color:black;
        font-size:25px;
        margin-left:73px;
        margin-top:520px;
    }

    #Home>section:nth-child(3)>div:first-child{
         position: absolute;
         width: 60px;
         height: 60px;
         background: black;
         margin-top:580px;
         right:970px;
    }

    #Home>section:nth-child(3)>div:nth-child(2){
         position: absolute;
         width: 60px;
         height: 60px;
         background: black;
         margin-top:580px;
         right:790px;
    }

    #Home>section:nth-child(3)>div:nth-child(3){
             position: absolute;
             width: 60px;
             height: 60px;
             background: black;
             margin-top:580px;
             right:680px;
        }

}

/*media query for Tablet size(768px)*/
@media all and (max-width: 768px) {

    #Home{
            display: flex;
            background-color: white;
            width: 768px;
            height: 642px;
        }

    #Home>section:first-child>div:first-child>h1{
            width: 200px;
            height: 50px;
            position:absolute;
            color:black;
            font-size:40px;
            margin-left:-220px;
            margin-top:140px;
        }

    #Home>section:first-child>div:first-child>h2{
            position:absolute;
            width: 200px;
            height: 50px;
            color:#59A6EE;
            font-size:50px;
            margin-left:195px;
            margin-top:132px;
        }

    #Home>section:first-child>div:first-child>h3{
            position:absolute;
            width: 200px;
            height: 50px;
            color:#59A6EE;
            font-size:50px;
            margin-top:200px;
            margin-left:-280px;
        }

    #Home>section:nth-child(2)>img{
             position:absolute;
             width: 220px;
             height: 220px;
             transform:rotate(10deg);
             margin-top:140px;
             margin-left:510px;
        }

    #Home>section:first-child>div:first-child>h4{
            position:absolute;
            color:black;
            font-size:17px;
            margin-left:43px;
            margin-top:300px;
            margin-right:300px;

        }
    #Home>section:first-child>div:first-child>h5{
            position:absolute;
            color:black;
            font-size:20px;
            margin-left:45px;
            margin-top:480px;
        }

        #Home>section:nth-child(3)>div:first-child{
             position: absolute;
             width: 50px;
             height: 50px;
             background: black;
             margin-top:520px;
             right:753px;
        }

        #Home>section:nth-child(3)>div:nth-child(2){
             position: absolute;
             width: 50px;
             height: 50px;
             background: black;
             margin-top:520px;
             right:587px;
        }

        #Home>section:nth-child(3)>div:nth-child(3){
                 position: absolute;
                 width: 50px;
                 height: 50px;
                 background: black;
                 margin-top:520px;
                 right:503px;
            }

        #Home>section:nth-child(3)>div:nth-child(1)>img{
            margin-left:5px;
            margin-top:5px;
            height: 40px;

        }

        #Home>section:nth-child(3)>div:nth-child(2)>img{
            margin-left:5px;
            margin-top:5px;
            height: 40px;

        }

        #Home>section:nth-child(3)>div:nth-child(3)>img{
            margin-left:5px;
            margin-top:5px;
            height: 40px;

        }

}

/*media query for Mobile size(425px)*/
@media all and (max-width: 425px) {

     #Home{
            display: flex;
            background-color: white;
            width: 425px;
            height: 700px;
        }

     #Home>section:first-child>div:first-child>h1{
            width: 200px;
            height: 50px;
            position:absolute;
            color:black;
            font-size:25px;
            margin-left:-50px;
            margin-top:340px;
        }

    #Home>section:first-child>div:first-child>h2{
            position:absolute;
            width: 200px;
            height: 50px;
            color:#59A6EE;
            font-size:25px;
            margin-left:150px;
            margin-top:340px;
        }

    #Home>section:first-child>div:first-child>h3{
            position:absolute;
            width: 200px;
            height: 50px;
            color:#59A6EE;
            font-size:25px;
            margin-top:340px;
            margin-left:140px;
        }

    #Home>section:nth-child(2)>img{
             position:absolute;
             width: 200px;
             height: 200px;
             transform:rotate(10deg);
             margin-top:100px;
             margin-left:115px;
        }

    #Home>section:first-child>div:first-child>h4{
            position:absolute;
            color:black;
            font-size:16px;
            margin-left:55px;
            margin-top:410px;
            margin-right:50px;

        }
    #Home>section:first-child>div:first-child>h5{
            position:absolute;
            color:black;
            font-size:15px;
            margin-left:55px;
            margin-top:570px;
        }

        #Home>section:nth-child(3)>div:first-child{
             position: absolute;
             width: 35px;
             height: 35px;
             background: black;
             margin-top:605px;
             right:415px;
        }

        #Home>section:nth-child(3)>div:nth-child(2){
             position: absolute;
             width: 35px;
             height: 35px;
             background: black;
             margin-top:605px;
             right:275px;
        }

        #Home>section:nth-child(3)>div:nth-child(3){
                 position: absolute;
                 width: 35px;
                 height: 35px;
                 background: black;
                 margin-top:605px;
                 right:215px;
            }

        #Home>section:nth-child(3)>div:nth-child(1)>img{
            margin-left:3px;
            margin-top:3px;
            height: 30px;

        }

        #Home>section:nth-child(3)>div:nth-child(2)>img{
            margin-left:3px;
            margin-top:3px;
            height: 30px;

        }

        #Home>section:nth-child(3)>div:nth-child(3)>img{
            margin-left:3px;
            margin-top:3px;
            height: 30px;

        }



}

/*media query for Mobile size(376px)*/
@media all and (max-width: 376px) {

#Home{
            display: flex;
            background-color: white;
            width: 376px;
            height: 700px;
        }

     #Home>section:first-child>div:first-child>h1{
            width: 200px;
            height: 50px;
            position:absolute;
            color:black;
            font-size:22px;
            margin-left:-25px;
            margin-top:310px;
        }

    #Home>section:first-child>div:first-child>h2{
            position:absolute;
            width: 200px;
            height: 50px;
            color:#59A6EE;
            font-size:22px;
            margin-left:135px;
            margin-top:310px;
        }

    #Home>section:first-child>div:first-child>h3{
            position:absolute;
            width: 200px;
            height: 50px;
            color:#59A6EE;
            font-size:22px;
            margin-top:310px;
            margin-left:136px;
        }

    #Home>section:nth-child(2)>img{
             position:absolute;
             width: 200px;
             height: 200px;
             transform:rotate(10deg);
             margin-top:80px;
             margin-left:95px;
        }

    #Home>section:first-child>div:first-child>h4{
            position:absolute;
            color:black;
            font-size:16px;
            margin-left:50px;
            margin-top:380px;
            margin-right:50px;

        }
    #Home>section:first-child>div:first-child>h5{
            position:absolute;
            color:black;
            font-size:15px;
            margin-left:50px;
            margin-top:560px;
        }

        #Home>section:nth-child(3)>div:first-child{
             position: absolute;
             width: 35px;
             height: 35px;
             background: black;
             margin-top:600px;
             right:370px;
        }

        #Home>section:nth-child(3)>div:nth-child(2){
             position: absolute;
             width: 35px;
             height: 35px;
             background: black;
             margin-top:600px;
             right:230px;
        }

        #Home>section:nth-child(3)>div:nth-child(3){
                 position: absolute;
                 width: 35px;
                 height: 35px;
                 background: black;
                 margin-top:600px;
                 right:170px;
            }

        #Home>section:nth-child(3)>div:nth-child(1)>img{
            margin-left:3px;
            margin-top:3px;
            height: 30px;

        }

        #Home>section:nth-child(3)>div:nth-child(2)>img{
            margin-left:3px;
            margin-top:3px;
            height: 30px;

        }

        #Home>section:nth-child(3)>div:nth-child(3)>img{
            margin-left:3px;
            margin-top:3px;
            height: 30px;

        }



}

